.block {
    position: absolute;
    top: .5em;
    right: .5em;
    background: #fff;
    padding: 5px 5px 2px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
    font-size: 14px;
    z-index: 1000;

    &:hover {
        cursor: pointer;
        outline: 1px solid var(--ol-subtle-foreground-color);
    }

    &>div:first-child {
        color: var(--ol-subtle-foreground-color);
        &:hover {
            cursor: pointer;
            color: black;
        }
    }

    .list {
        display: flex;
        flex-direction: column;
        gap: 0.5rem;
    }
}

.active {
    height: auto;
    width: auto;
    max-height: 230px;
    max-width: 200px;
    overflow-y: scroll;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    padding-bottom: 5px;

    &:hover {
        cursor: default;
    }
}