.background {
    background-color: rgba(211, 211, 211, 0.1);
    border-radius: 6px;
    margin: 0 1rem 0.5rem 1rem;

    .block {
        padding: 5px 10px;
        height: auto;
        font-size: 15px;
        font-weight: 600;
        border-radius: inherit;

        &:hover {
            cursor: pointer;
            background-color: rgba(211, 211, 211, 0.2);
        }
    }
}